from os.path import dirname, join, realpath

REPO_ROOT = dirname(realpath(__file__))

_DATA_DIRNAME = "data"
DATA_DIR = join(REPO_ROOT, _DATA_DIRNAME)

_OUTPUT_DIRNAME = "output"
OUTPUT_DIR = join(REPO_ROOT, _OUTPUT_DIRNAME)
_LEXICON_DIRNAME = "lexicon"
LEXICON_DIR = join(OUTPUT_DIR, _LEXICON_DIRNAME)


MODELS_DIR = join(REPO_ROOT, "models")
# MODELS_DIR = "/juice/scr/jkc1/models"  # cluster


RANDOM_SEED = 0xDEADBEEF


KFOLD = 8
FOLDS_TO_RUN = [0, 1, 2]
# FOLDS_TO_RUN = [0, 1, 2, 3, 4, 5, 6, 7]

BATCHSIZE = 25
DATASET_SIZES = [125, 250, 500, 1000]
